<!DOCTYPE html>
<html ng-app="BSK">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    <script src="~/Scripts/Module.js"></script>
    <script src="~/Scripts/Shared/Commen.js"></script>
    <script src="~/Scripts/Shared/ErrorMessages.js"></script>
    <script src="~/Scripts/Shared/Validation.js"></script>
    <script src="~/Scripts/Service/UserService.js"></script>
    <script src="~/Scripts/Controller/UserController.js"></script>
</head>
<body>
    @Html.Partial("_TopNavigation")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>
